# vscode
.vscode/

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.aux
*.bbl
*.log 
*.blg
*.out
*.lof
*.lot
*.toc
*.fls

.ipynb_checkpoints/
mutations.ipynb